.NewsCalWeekend, .NewsCalToday, .NewsCalDefault, .NewsCalOtherMonth , .NewsCalHeader, .NewsCalMonthNav, .NewsCalDay, .NewsCalNews{
	font-size:9pt;
	color:#000000;
}
.NewsCalToday, .NewsCalDefault, .NewsCalOtherMonth, .NewsCalWeekend, .NewsCalHeader {
	padding-left:8px;
}
.NewsCalToday{
	background-color:#dadded;
}
.NewsCalDefault{
	background-color:#FFFFFF;
}
.NewsCalOtherMonth{
	background-color:#F8F9EF;
}
.NewsCalWeekend{
	background-color: darkseagreen;
}
.NewsCalHeader{
	background-color:#EFF1F9;
	color:#365D91;
}
.NewsCalTable, .NewsCalTable tr, .NewsCalTable td{
	border-collapse:collapse;
	border:1px solid #B3B3B3;
}
.NewsCalMonthNav{
}
.NewsCalDay{
	color:#000000;
}
.NewsCalDayOther{
	color:#365D91;
}
.NewsCalNews{
	color:#7488B9;
	font-size:8pt;
}

.tooltip {
	background: white;
	color: #fff;
	z-index: 999999;
	position: absolute;
	padding: 15px;
	max-width: 250px;
	border-radius: 2px;
	border: solid black 1px;
}
.tooltip.animation-slide {
	-webkit-animation-name: slideTooltip;
	-webkit-animation-duration: .25s;
	-webkit-animation-timing-function: ease;
	animation-name: slideTooltip;
	animation-duration: .25s;
	animation-timing-function: ease;
}
.tooltip .tooltip-arrow {
	position: absolute;
	border: 8px solid rgba(0,0,0,.8);
}
.tooltip-arrow.bottomtotop {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	top: -16px;
}
.tooltip-arrow.toptobottom {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	bottom: -16px;
}
.tooltip-arrow.righttoleft {
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	left: -16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tooltip-arrow.lefttoright {
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	right: -16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tooltip-arrow.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
@-webkit-keyframes slideTooltip {
	from {
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slideTooltip {
	from {
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}