.wind_sputnik {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0 0 0 -150px;
  z-index: 22;
  background: #fff;
  border-radius: 0px;
  padding: 20px;
}

.wind_bg {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  display: none;
}



.wind_sputnik input:focus::-webkit-input-placeholder {
  color: transparent
}

.wind_sputnik input:focus::-moz-placeholder {
  color: transparent
}

.wind_sputnik input:focus:-moz-placeholder {
  color: transparent
}

.wind_sputnik input:focus:-ms-input-placeholder {
  color: transparent
}

.price_block .b_btn {
  width:150px;
}