.sale-order-list-repeat-link {
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4a90e2;
	text-decoration: underline;
	cursor: pointer;
}

.sale-order-list-repeat-link:before {
	content: "";
	display: inline-block;
	margin: 0 3px 4px 0;
	width: 10px;
	height: 13px;
	background: url(images/sale-order-repeat.svg) no-repeat;
	vertical-align: middle;
}

.sale-order-list-repeat-link:hover {
	text-decoration: none;
	cursor: pointer;
}

/*---------------------------CUSTOM-----------------------------------------*/
.sale-order-detail-order-files-ul {
	padding-left: 0;
	margin-top: 9.5px;
	margin-bottom: 9.5px;
}
.sale-order-detail-payment-options-order-content-title,
.sale-order-detail-payment-options-order-content-title-element {
	float: none !important;
}
.sale-order-icon {
	padding: 0 0 0 15px;
	margin: 5px 0;
	list-style: none;
}
.sale-order-icon::before {
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
}
.sale-order-detail-order-files-pdf::before{
	background-image:url(images/order-icons/pdf.png);
}
.sale-order-detail-order-files-docx::before{
	background-image:url(images/order-icons/docx.png);
}
.sale-order-detail-order-files-xlsx::before{
	background-image:url(images/order-icons/xlsx.png);

}
.sale-order-detail-order-files-rar::before{
	background-image:url(images/order-icons/rar.png);
}
.sale-order-detail-order-files-doc::before{
	background-image:url(images/order-icons/docx.png);
}
.sale-order-detail-order-files-7z::before{
	background-image:url(images/order-icons/rar.png);

}
.sale-order-detail-order-files-link{
	font: 13px/10px 'Open Sans', Arial, Helvetica, sans-serif;
}

table.delivery {width: 100%;
	border: 0px;
	border-collapse: collapse;
}
table.delivery thead {
	font-weight: bold;
}
table.delivery th{
	text-align: center;
	padding: 10px;
	border-left: solid #e2dfdf 1px;
	border-top: solid #e2dfdf 1px;
	border-bottom: solid #e2dfdf 1px;
	border-radius: 2px;
}
table.delivery th:last-child{
	border-right: solid #e2dfdf 1px;
}
table.delivery td {
	text-align: center;
	padding: 10px;
	border-left: solid #e2dfdf 1px;
	border-bottom: solid #e2dfdf 1px;
	border-radius: 2px;
}

table.delivery td:last-child{
	border-right: solid #e2dfdf 1px;
}

@media screen and (max-width: 1000px) {
	.sale-order-detail-order-files-ul {
		padding-top:10px;
	}

	table.delivery thead {
		display: none;
	}
	table.delivery tr {
		display: block;
		margin-bottom: 1rem;
		border-bottom: 2px solid #e8e9eb;
	}
	table.delivery td {
		min-height: 40px;
		display: block;
		text-align: right;
	}
	table.delivery td:before {
		content: attr(aria-label);
		float: left;
		font-weight: bold;
	}
}

.sale-order-link, .sale-order-history-link {
	display: inline-block;
	font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #4a90e2;
	padding: 0 34px 0 0;
	margin-bottom: 22px;
}

.cancel {
	background-color: #FF7373;
}

.complete {
	background-color: #67E667;
}