#anotherProperty{
	border: 1px solid #eaeaea;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 10px 10px 10px 10px;
	position: relative;
	background: white;
}

#kombox-filter #anotherProperty form{
	width:100%;
	list-style: none !important;
	margin:0;
	padding:0;
}

#kombox-filter #anotherProperty .filterParameters {
    display: block;
}

#kombox-filter #anotherProperty .acceptButtons {
    display: inline-block;
}

#kombox-filter #anotherProperty .lvl1{
	list-style: none !important;
	margin:0;
	padding:0;
	margin-top: .7em;
	text-indent: 0 !important;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#kombox-filter #anotherProperty .lvl1.kombox-column {
	width: 33%;
	float: left;
}

#kombox-filter #anotherProperty td{
	margin:0;
	padding:0;
}

#kombox-filter #anotherProperty .lvl2{
	margin:0;
	padding: 4px 20px 4px 0;
	width:auto;
}

#kombox-filter #anotherProperty .lvl1:before, #kombox-filter #anotherProperty li:before {
	content: none !important;
}

#kombox-filter #anotherProperty .kombox-filter-property-head {
    width: 100px;
	zoom: 1;
    /*padding: 5px 0 0 5px;*/
	/*text-align:right;*/
	float:left;
	height:auto;
}

#kombox-filter #anotherProperty .lvl1.kombox-column .kombox-filter-property-head {
	zoom: 1;
	text-align:left;
	float:none;
	height:auto;
}

#kombox-filter #anotherProperty .filterGroupButtons {
    width: 100%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

#kombox-filter #anotherProperty .kombox-filter-property-name {
	position: relative;
	font-weight:bold;
    padding: 0px 10px 0px 0px;
}

#kombox-filter #anotherProperty .kombox-middle{
	vertical-align:middle;
}

#kombox-filter #anotherProperty .kombox-num,
#kombox-filter #anotherProperty .kombox-combo{
	 overflow: hidden;
}

#kombox-filter #anotherProperty .kombox-num .kombox-input{
	width: 4em;
	margin:0;
	display: inline-block;
	padding: 1px 0px;
	font-size: inherit;
	font-weight: 400;
	line-height: inherit;
    text-align: center;
}

.center-kombox {
    display: flex;
    align-items: center;
    flex: 1 0 0%;
}

#kombox-filter #anotherProperty .kombox-num table{
width:100%;
font-size: inherit;
}

#kombox-filter #anotherProperty .kombox-from{
vertical-align:middle;
white-space:nowrap;
}

#kombox-filter #anotherProperty .kombox-to{
vertical-align:middle;
white-space:nowrap;
}

#kombox-filter #anotherProperty .kombox-num .kombox-range{
padding:0 20px 0 20px;
width:70%;
display: inline-block;
}

#kombox-filter #anotherProperty .kombox-num .kombox-input{
width: 4em;

}

#kombox-filter #anotherProperty .kombox-num .kombox-range input{
display:none;
}

#kombox-filter #anotherProperty .kombox-filter-property-body{
padding: 5px 0 0 5px;
margin: 0;
}

#kombox-filter #anotherProperty div.kombox-combo,
#kombox-filter #anotherProperty div.kombox-radio
{
padding: 5px 0 0 15px;
margin: 0;
}

#kombox-filter #anotherProperty div.kombox-link
{
padding: 0 0 0 15px;
margin: 0;
}

#kombox-filter #anotherProperty div.kombox-select,
#kombox-filter #anotherProperty div.kombox-list
{
padding: 0;
margin: 0;
}

#kombox-filter #anotherProperty .kombox-select select,
#kombox-filter #anotherProperty .kombox-list select
{
padding: 5px;
width:75%;
}

#kombox-filter #anotherProperty .kombox-combo #anotherProperty .lvl2 input,
#kombox-filter #anotherProperty .kombox-radio #anotherProperty .lvl2 input{
margin:0;
}

#kombox-filter #anotherProperty .kombox-combo #anotherProperty .lvl2 label,
#kombox-filter #anotherProperty .kombox-radio #anotherProperty .lvl2 label{
padding-left: 7px;
}

#kombox-filter #anotherProperty ul li .kombox-disabled label,
#kombox-filter #anotherProperty ul li .kombox-disabled a,
#kombox-filter #anotherProperty ul li option.kombox-disabled{
color: #6f7980;
}

#kombox-filter #anotherProperty .kombox-link  #anotherProperty .lvl2{
padding-left: 8px;
position: relative;
left: -8px;
}

#kombox-filter #anotherProperty .kombox-link .kombox-checked{
padding-left: 0;
}

#kombox-filter #anotherProperty .kombox-link  #anotherProperty .lvl2 a{
padding: 2px 0 1px 0;
display: inline-block;
}

#kombox-filter #anotherProperty .kombox-link .kombox-checked a{
border: 1px solid #e7e7e7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
color: #3f454b;
padding: 1px 22px 1px 8px;
position: relative;
}

#kombox-filter #anotherProperty .kombox-link .kombox-checked a:hover{
border-color: #fbdada;
}

#kombox-filter #anotherProperty .kombox-link  #anotherProperty .lvl2 a span.kombox-remove-link{
background: #ffffff url("images/remove_link.png") no-repeat 0 0;
display: none;
height: 8px;
margin-left: 8px;
position: absolute;
right: 8px;
top: 6px;
width: 8px;
}

#kombox-filter #anotherProperty .kombox-link .kombox-checked a span.kombox-remove-link{
display: inline-block;
}

#kombox-filter #anotherProperty .kombox-link .kombox-checked a:hover span.kombox-remove-link{
background-position: 0 100%;
}

#kombox-filter #anotherProperty .kombox-link .kombox-disabled a{
color: #6f7980 !important;
border:none;
text-decoration:line-through;
}

#kombox-filter #anotherProperty .kombox-disabled a{
border:none;
text-decoration:line-through;
}

#kombox-filter #anotherProperty .lvl2 .kombox-cnt{
color: #6f7980;
font-size: .85em;
}

#kombox-filter #anotherProperty .kombox-disabled .kombox-cnt, .kombox-filter .kombox-checked .kombox-cnt{
display:none;
}

#kombox-filter #anotherProperty .kombox-checked a{
border:none;
color:#000;
}

#kombox-filter #anotherProperty .kombox-filter-property-body a.kombox-values-other-show,
#kombox-filter #anotherProperty .kombox-filter-property-body a.kombox-values-other-hide{
font-size: .85em;
display:inline-block;
margin-top:5px;
border:0;
}

#kombox-filter #anotherProperty .kombox-filter-property-hint{
cursor: pointer;
position: relative;
top: 2px;
width: 12px;
height: 12px;
margin-left:5px;
display: inline-block;
background: rgba(0, 0, 0, 0) url(images/hint.gif) no-repeat right center;
}

#kombox-filter #anotherProperty .kombox-filter-property-hint-text{
display:none;
}

.kombox-filter-hint{
padding:5px 10px 5px 5px;
max-width: 500px;
}

#kombox-filter #anotherProperty .modef {
background: transparent url('images/modef.gif') no-repeat right center;
top: 4px;
position: absolute;
padding-right:5px;
z-index:1000;
}

#kombox-filter #anotherProperty .modef-right {
background: transparent url('images/modef-right.gif') no-repeat left center;
padding-left:5px;
}

#kombox-filter #anotherProperty .modef .modef-wrap {
background-color:#fff;
border: 1px solid #ffea94;
border-right:none;
color: #3F3F3F;
padding: 5px 25px 5px 10px;
white-space: nowrap;
}

#kombox-filter #anotherProperty .modef-right .modef-wrap {
border: 1px solid #ffea94;
border-left:none;
}

a.kombox-del-filter{
display:inline-block;
margin-right:10px;
}

#kombox-filter #anotherProperty .kombox-clear{
clear:both;
height:1px;
width: 100%;
display: inline-block;
}

#kombox-filter #anotherProperty .kombox-footer{
clear:both;
padding:0 20px 0 0;
}

#kombox-filter #anotherProperty .kombox-filter-show-properties{
text-align:left;
float:left;
padding: 1em 15px 0 5px;

}

#kombox-filter #anotherProperty .kombox-show .kombox-show{
display:inline;
}

#kombox-filter #anotherProperty .kombox-hide .kombox-show{
display:none;
}

#kombox-filter #anotherProperty .kombox-hide .kombox-hide{
display:inline;
}

#kombox-filter #anotherProperty .kombox-show .kombox-hide{
display:none;
}

#kombox-filter #anotherProperty .kombox-filter-submit{
padding: 1em 0 0 15px;
overflow:hidden;
float:right;
}

#kombox-filter #anotherProperty .irs {
position: relative; display: block;
}
#kombox-filter #anotherProperty .irs-line {
    position: relative; display: block;
    overflow: hidden;
}
    #kombox-filter #anotherProperty .irs-line-left, #kombox-filter #anotherProperty .irs-line-mid, #kombox-filter #anotherProperty .irs-line-right {
        position: absolute; display: block;
        top: 0;
    }
    #kombox-filter #anotherProperty .irs-line-left {
        left: 0; width: 0%;
    }
    #kombox-filter #anotherProperty  .irs-line-mid {
        left: 10%;
    }
    #kombox-filter #anotherProperty .irs-line-right {
        right: 0; width: 0%;
    }

#kombox-filter #anotherProperty .irs-diapason, #kombox-filter #anotherProperty .irs-diapason-left, #kombox-filter #anotherProperty .irs-diapason-right {
    position: absolute; display: block;
    left: 0; width: 100%;
}
#kombox-filter #anotherProperty .irs-slider {
    position: absolute; display: block;
    cursor: default;
    z-index: 1;
}
    #kombox-filter #anotherProperty .irs-slider.single {
        left: 10px;
    }
        #kombox-filter #anotherProperty .irs-slider.single:before {
            position: absolute; display: block; content: "";
            top: -50%; left: -100%;
            width: 300%; height: 200%;
            background: rgba(0,0,0,0.0);
        }
    #kombox-filter #anotherProperty .irs-slider.from {
        left: 100px;
    }
        #kombox-filter #anotherProperty .irs-slider.from:before {
            position: absolute; display: block; content: "";
            top: -50%; left: -200%;
            width: 300%; height: 200%;
            background: rgba(0,0,0,0.0);
        }
    #kombox-filter #anotherProperty .irs-slider.to {
        left: 300px;
    }
        #kombox-filter #anotherProperty .irs-slider.to:before {
            position: absolute; display: block; content: "";
            top: -50%; left: 0;
            width: 300%; height: 200%;
            background: rgba(0,0,0,0.0);
        }
    #kombox-filter #anotherProperty .irs-slider.last {
        z-index: 2;
    }

#kombox-filter #anotherProperty .irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
#kombox-filter #anotherProperty .irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}

#kombox-filter #anotherProperty .irs-from, #kombox-filter #anotherProperty .irs-to, #kombox-filter #anotherProperty .irs-single {
    position: absolute; display: block;
    bottom: 0; left: 0;
    cursor: default;
    white-space: nowrap;
    margin-bottom:-17px;
}

#kombox-filter #anotherProperty .irs-from {
    margin-left:-7px;
}

#kombox-filter #anotherProperty .irs-to {
    margin-left:10px;
}

#kombox-filter #anotherProperty .irs-grid {
position: absolute; display: none;
top: 0; left: 0;
width: 100%; height: 20px;
}
#kombox-filter #anotherProperty .irs-with-grid .irs-grid {
display: block;
}
#kombox-filter #anotherProperty .irs-grid-pol {
    position: absolute;
    bottom: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
#kombox-filter #anotherProperty .irs-grid-pol.small {
    height: 4px;
}
#kombox-filter #anotherProperty .irs-grid-text {
    position: absolute;
    top: 0; left: 0;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    font-size: 9px; line-height: 9px;
    color: #000;
}

#kombox-filter #anotherProperty .irs-line-mid,
#kombox-filter #anotherProperty .irs-line,
#kombox-filter #anotherProperty .irs-diapason-left,
#kombox-filter #anotherProperty .irs-diapason-right,
#kombox-filter #anotherProperty .irs-slider {
background: url(images/slider.png) repeat-x;
}

#kombox-filter #anotherProperty .irs {
height: 40px;
}
#kombox-filter #anotherProperty .irs-with-grid {
margin-top: 0;
}
#kombox-filter #anotherProperty .irs-line {
height: 8px; top: 25px;
 background-position: 0 0;
}
#kombox-filter #anotherProperty .irs-line-left {
    height: 8px;
    background-position: 0 -30px;
}
#kombox-filter #anotherProperty .irs-line-mid {
    height: 6px;
    background-position: left bottom;
}
#kombox-filter #anotherProperty .irs-line-right {
    height: 8px;
    background-position: 100% -30px;
}

#kombox-filter #anotherProperty .irs-diapason, #kombox-filter #anotherProperty .irs-diapason-left, #kombox-filter #anotherProperty .irs-diapason-right {
height: 8px; top: 25px;
background-position: 0 -60px;
}

#kombox-filter #anotherProperty .irs-diapason{
background:none;
}

#kombox-filter #anotherProperty .irs-slider {
width: 22px; height: 22px;
top: 17px;
background-position: 0 -90px;
}

#kombox-filter #anotherProperty .irs-min, #kombox-filter #anotherProperty .irs-max {
color: #999;
font-size: 10px; line-height: 1.333;
text-shadow: none;
top: 0; padding: 1px 3px;
background: rgba(0,0,0,0.1);
border-radius: 3px;
}
#kombox-filter #anotherProperty .lt-ie9 .irs-min, #kombox-filter #anotherProperty .lt-ie9 .irs-max {
background: #ccc;
}

#kombox-filter #anotherProperty .irs-from, #kombox-filter #anotherProperty .irs-to, #kombox-filter #anotherProperty .irs-single {
color: #fff;
font-size: 10px; line-height: 1.333;
text-shadow: none;
padding: 1px 5px;
background: rgba(0,0,0,0.3);
border-radius: 3px;
display:none !important;
}
#kombox-filter #anotherProperty .lt-ie9 .irs-from, #kombox-filter #anotherProperty .lt-ie9 .irs-to, #kombox-filter #anotherProperty .lt-ie9 .irs-single {
background: #999;
}

#kombox-filter #anotherProperty .irs-grid-pol {
background: #99a4ac;
}

#kombox-filter #anotherProperty .irs-grid-text {
color: #99a4ac;
}

#kombox-filter #anotherProperty .irs-slider.from {
background-position:-4px -75px;
width: 13px;
height: 28px;
margin-left: -6px;
}

#kombox-filter #anotherProperty .irs-slider.to {
background-position:-4px -75px;
width: 13px;
height: 28px;
margin-left: -7px;
}

#irs-active-slider, .irs-slider:hover {
background-position: -4px -105px;
}