.aside_menu {
    li {
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        margin-bottom: 5px;
        &.active {
            background-color: #7777be;
            a {
                color: #ffffff;
                border-left: 7px solid #7777be;
                border-right: 7px solid #7777be;
            }
        }
        &.has_child {
            a {
                text-align: left;
                &:after {
                    content: "\f107";
                    font-family: FontAwesome;
                    float: right;
                    font-size: 21px;
                    color: #353552;
                }
            }
            &+.submenu {
                height: 0;
                opacity: 0;
                position: relative;
                z-index: -1;
                transition: all 1s;
                overflow: hidden;
            }
            &.open {
                &+.submenu {
                    height: auto;
                    opacity: 1;
                    z-index: 1;
                }
                &>a:after {
                    transform: rotate(180deg);
                }
            }
        }
        a {
            display: block;
            line-height: 40px;
            padding: 0 20px;
            text-align: center;
            color: #353552;
            font-size: Rem(14px);
            font-weight: 500;
            border-left: 7px solid #FFF;
            border-right: 7px solid #FFF;
            &:hover {
                border-left: 7px solid #7777be;
            }
        }
    }
    // .submenu {
    //     li {
    //         margin-left: 20px;
    //     }
    // }
}

aside {
    .small_grid {
        background-color: inherit;
        .container {
            width: 100%;
        }
    }
    .adv_wrap {
        width: 100%;
        padding: 0;
        .item {
            border-radius: 2px;
            border: 1px solid #e8e8e8;
            background-color: #ffffff;
        }
    }
    .filtr {
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        color: #353552;
        font-size: Rem(12px);
        font-weight: 400;
        display: block;
        border-radius: 2px;
        margin-top: -5px;
        background-color: #ffffff;
        margin-bottom: 6px;
        padding-bottom: 12px;
        li {
            border: none;
            padding: 10px 0 10px 11px;
            margin: 0 !important;
        }
        .name_filtr {
            width: 65px;
            display: block;
            float: left;
        }
        .val_filtr {}
        input {
            width: 41px;
            text-align: center;
            color: #a5a5a5;
            font-size: Rem(11px);
            font-weight: 400;
            margin: 0 10px;
            border: 1px solid #e8e8e8;
        }
        a.s_btn {
            margin-left: 11px;
            margin-top: 10px;
        }
    }
    .jq-selectbox {}
}

.jq-selectbox {
    width: 130px;
    border: 1px solid #e8e8e8;
    margin-left: 8px;
    .jq-selectbox__select,
    .jq-selectbox__trigger {
        border: none;
        background: #FFF;
        box-shadow: none;
    }
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: auto;
        right: 7px;
        width: 0;
        height: 0;
        border-top: none;
        border-right: none;
        border-left: none;
        &:after {
            content: "\f107";
            font-family: FontAwesome;
            float: right;
            font-size: 21px;
            color: #353552;
        }
    }
    .jq-selectbox__select,
    .jq-selectbox__select-text {
        height: 20px;
        color: #353552;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
    }
}

.arcticmodal-container .models_list {
    display: block;
}

.models_list {
    display: none;
    .models_wrap {
        border-radius: 2px;
        background-color: #e8e8e8;
        li {
            width: 134px;
            text-align: center;
            background-color: #e8e8e8;
            height: 125px;
            cursor: pointer;
            display: table-cell;
            vertical-align: middle;
            svg {
                margin-bottom: 12px;
            }
            span {
                width: 100%;
                display: inline-block;
                color: #7777be;
                font-size: 12px;
                font-weight: 500;
            }
            &:hover {
                transition: all 1s;
                background: #FFF;
            }
        }
    }
}

.filtr_sort {
    li {
        a {
            &:hover {
                // background-color: #7777be;
                // border-left: 7px solid #7777be;
                // border-right: 7px solid #7777be;
                // color: #FFF;
            }
        }
        &.active {
            background-color: #fff;
            a {
                color: #353552;
                border-left: 7px solid #7777be;
                border-right: 7px solid #FFF;
                &:hover {
                    // background-color: #7777be;
                    // border-right: 7px solid #7777be;
                    // color: #FFF;
                }
            }
        }
    }
}
