.big_item {
    .title {
        margin-bottom: 25px;
        h1 {
            margin: 0 auto 7px;
            color: #464646;
            font-size: Rem(24px);
            font-weight: 500;
            text-transform: uppercase;
        }
        span {
            color: #327f67;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            vertical-align: middle;
            &.sub_text {
                display: inline-block;
                color: #535353;
                font-size: 11px;
                text-transform: none;
                font-weight: 400;
                margin-left: 14px;
            }
        }
        .s_btn {
            background-color: #327f67;
            &.reverse {
                background-color: #fafafa;
            }
        }
    }
    .image {
        .main_img {
            margin-bottom: 16px;
            a {
                position: relative;
                .lupa {
                    position: absolute;
                    right: 14px;
                    top: 8px;
                    svg {
                        width: 21px;
                        height: 21px;
                    }
                    path {
                        fill: #7777be;
                    }
                }
            }
        }
        .sub_img {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-bottom: 50px;
            a {
                margin-right: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        a {
            border: 1px solid #dddddd;
            display: block;
            overflow: hidden;
            &.s_btn {
                border: 1px solid #17755c;
                display: inline-block;
                margin-left: 0;
            }
            img {
                display: block;
                width: 100%;
                transition: all .5s ease-out;
                &:hover {
                    transform: scale(1.05, 1.05);
                }
            }
        }
    }
    .item_info {
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        padding: 13px 16px 13px 25px;
        overflow: hidden;
        form {
            overflow: hidden;
        }
        .acrticle_select {
            th {
                text-align: left;
                color: #7777be;
                font-size: Rem(12px);
                font-weight: 500;
                border-bottom: 1px solid #e7e7e7;
                line-height: 24px;
            }
            td {
                color: #424242;
                font-size: Rem(14px);
                font-weight: 500;
                line-height: 30px;
                &:first-child {
                    border-right: 1px solid #e7e7e7;
                    padding-right: 20px;
                }
                &:last-child {
                    padding-left: 17px;
                }
            }
        }
        .acrticle_select,
        .count_block,
        .price_block {
            float: left;
        }
        .price_block {
            .price {
                color: #404040;
                font-size: Rem(36px);
                font-weight: 500;
                i {
                    color: $accent_color;
                }
            }
        }
        .count_block {
            margin-top: 70px;
            margin-left: 19px;
            margin-right: 30px;
        }
    }
    .propertys {
        width: 100%;
        border: 1px solid #e8e8e8;
        border-top: none;
        transition: all 0.5s;
        tr {
            border-top: 1px solid #e8e8e8;
            background-color: #ffffff;
            &:nth-child(odd) {
                background-color: #f9f9f9;
            }
            &:first-child {
                border-top: none;
            }
        }
        td {
            color: #404040;
            font-size: Rem(14px);
            line-height: 31px;
            font-weight: 500;
            text-align: right;
            padding: 0 17px 0 27px;
            &:first-child {
                color: #327f67;
                text-align: left;
            }
        }
    }
    .menu {
        border: 1px solid #dddddd;
        background-color: #ffffff;
        margin-bottom: 13px;
        display: flex;
        justify-content: space-around;
        a {
            color: #424242;
            font-size: Rem(14px);
            font-weight: 500;
        }
    }
    .tabs {
        border: 1px solid #dddddd;
        background-color: #ffffff;
        padding: 20px 15px;
        margin-bottom: 30px;
        &>div {
            display: none;
            &.open {
                display: block;
            }
        }
        .title {
            color: #7777be;
            font-size: Rem(16px);
            font-weight: 500;
        }
    }
    .b_btn.collapse {
        width: auto;
        display: inline-block;
        padding: 0 20px;
        float: right;
        margin-right: 0;
    }
    .description {
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        border-top: none;
        padding: 25px 14px;
        background-color: #ffffff;
        span {
            color: #7b7bc5;
            font-size: Rem(16px);
            font-weight: 500;
            margin-bottom: 15px;
        }
    }
}
