.menu {
    font-size: 0;
    li {
        display: inline-block;
        text-align: left;
        margin: 0 5px;
        a,
        label {
            padding: 0 8px;
            color: $accent_color;
            font-size: Rem(14px);
            font-weight: 400;
            line-height: 42px;
            display: block;
            transition: all 0.45s ease-in-out;
            span {
                line-height: 22px;
            }
            &:hover,
            &.open,
            &.active {
                box-shadow: 0px -10px 0px -5px $accent_color inset;
            }
        }
    }
}

.menu_bar {
    .menu {
        text-align: center;
        a {
            padding: 0 30px;
            color: #484848;
            font-size: Rem(16px);
            font-weight: 400;
        }
    }
    //margin-bottom: 22px;
}

.breadcrumb {
    font-size: 0;
    margin-bottom: 15px;
    li {
        display: inline-block;
        margin-right: 7px;
        font-size: Rem(12px);
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        &:before {
            content: '';
            border-radius: 50%;
            width: 4px;
            margin-right: 7px;
            display: inline-block;
            margin-bottom: 2px;
            height: 4px;
            background-color: #7b7bc5;
        }
        a {
            color: #414141;
            font-size: Rem(12px);
            font-weight: 400;
        }
    }
}

.category_grid {
    box-shadow: inset -4px -3px 124px 20px rgba(0, 0, 0, 0.26);
    background-color: #3a3a59;
    .grid_container {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        .item {
            width: 25%;
            padding: 20px 10px;
            text-align: center;
            &:hover {
                .svg_cont {
                    box-shadow: 0 0 24px rgba(0, 0, 0, 0.19);
                    background-color: #6179a8;
                }
            }
            .svg_cont {
                border-radius: 2px;
                border: 1px solid #48486b;
                background-color: #48486b;
            }
            svg {
                height: 130px;
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
            span {
                color: #fff;
                font-size: Rem(16px);
                font-weight: 500;
                display: block;
                padding-top: 15px;
            }
        }
    }
}

.small_grid {
    background-color: #327f67;
    padding: 30px 0;
    .item {
        overflow: hidden;
        display: block;
        padding: 0 24px 0 21px;
        margin-bottom: 10px;
        background: #FFF;
        svg {
            height: 64px;
            float: left;
            margin: 8px 0;
            display: block;
            fill: #353552;
        }
        span {
            float: right;
            text-align: right;
            color: #353552;
            font-size: Rem(16px);
            font-weight: 500;
            padding-top: 20px;
        }
    }
    .flex {
        display: flex;
        justify-content: space-around;
        a {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 83px;
            flex-basis: 140px;
            margin: 10px 0;
        }
    }
}

.search_bar {
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    svg {
        padding: 12px;
        float: left;
        height: 42px;
        width: 42px;
    }
    input {
        border: 1px solid #dddddd;
        line-height: 22px;
        margin: 8px 0;
        width: calc(100% - 42px - 96px);
    }
}

.pagination {
    margin: 30px auto 40px;
    ul {
        font-size: 0;
        li {
            font-size: 0;
            display: inline-block;
            margin-right: 9px;
            &:last-child {
                margin-right: 0;
            }
            a {
                border-radius: 2px;
                border: 1px solid #7b7bc5;
                color: #282828;
                font-size: Rem(14px);
                font-weight: 500;
                display: block;
                line-height: 21px;
                padding: 0 6px;
                &.active,
                &:hover {
                    color: #FFF;
                    background-color: #7979c5;
                }
            }
        }
        a.s_btn {
            float: right;
        }
    }
}

.text_block {
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    span.title {
        color: #7777be;
        font-size: Rem(16px);
        font-weight: 500;
        margin-bottom: 10px;
    }
    ul {
        li {
            position: relative;
            padding-left: 10px;
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                left: 2px;
                top: 8px;
                background-color: #7b7bc5;
            }
        }
    }
    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
    p,
    ul,
    ol {
        margin-bottom: 20px;
        color: #353535;
        font-size: Rem(12px);
        font-weight: 400;
    }
}

.last_news {
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    .title {
        margin-bottom: 16px;
        span {
            color: #262626;
            font-size: Rem(18px);
            font-weight: 500;
            margin-right: 9px;
        }
        a {
            color: #7979c5;
            font-size: Rem(18px);
            font-weight: 500;
            text-decoration: underline;
        }
    }
    ul,
    ol {
        li {
            margin-bottom: 14px;
            span {
                display: block;
                color: #8f8f8f;
                font-size: Rem(12px);
                font-weight: 500;
                margin-bottom: 7px;
                text-decoration: none;
            }
            a {
                display: block;
                color: #5a5a5a;
                font-size: Rem(16px);
                font-weight: 400;
                text-decoration: underline;
                line-height: Rem(16px);
            }
        }
    }
}

#vk_groups {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto !important;
    &>iframe {
        margin-bottom: 20px;
    }
}

.spinEdit {
    overflow: hidden;
    position: relative;
    width: 80px;
    margin: 0 auto;
    .minus-btn,
    .plus-btn {
        border: 1px solid #c6c6c6;
        color: #c6c6c6;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 2px;
        i {
            width: 18px;
            line-height: 16px;
            text-align: center;
            font-size: 10px;
            vertical-align: text-top;
        }
    }
    .plus-btn {
        left: 60px;
    }
    input {
        color: #404040;
        font-size: Rem(16px);
        font-weight: 500;
        height: 30px;
        line-height: 25px;
        padding: 0;
        margin: 0 25px;
        border-radius: 2px;
        border: 1px solid #c6c6c6;
        width: 30px;
        font-size: 15px;
        text-align: center;
    }
}

.custom_chekbox {
    input[type=radio] {
        display: none;
    }
    label {
        &:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 10px;
            margin-bottom: -2px;
            border: 2px solid #7777be;
            background-color: #FFF;
        }
    }
    input[type=radio]:checked + label:before {
        border: 1px solid #7b7bc5;
        background-color: #7b7bc5;
    }
}

.news_list {
    .news_item {
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        padding: 15px 20px;
        margin-bottom: 11px;
        span {
            color: #7777be;
            font-weight: 500;
            font-size: Rem(14px);
        }
        .time {
            color: #bcbcbc;
            font-size: Rem(12px);
            font-weight: 500;
            display: block;
            margin-bottom: 12px;
        }
        .title {
            color: #7777be;
            font-size: Rem(16px);
            font-weight: 500;
            display: block;
            margin-bottom: 10px;
        }
        .content {
            color: #3c3c44;
            font-size: Rem(14px);
            font-weight: 400;
            margin-bottom: 20px;
            p {
                margin-bottom: 10px;
            }
        }
        .s_btn {
            margin-left: 0;
        }
    }
}

form {
    overflow: hidden;
    label {
        display: block;
        line-height: 40px;
        color: #414141;
        font-size: Rem(14px);
        font-weight: 500;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: Rem(11px);
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 15px;
        border-radius: 2px;
        border: 1px solid #bcbcbc;
    }
    textarea {
        width: 100%;
        resize: none;
        overflow-y: auto;
    }
    input[name="captcha"] {
        width: auto !important;
    }
    .s_btn {
        margin-left: 0;
    }
}

.faq_form {
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    margin-bottom: 30px;
    form {
        transition: all 0.5s;
        overflow: hidden;
    }
    label {
        color: #414141;
        font-size: Rem(14px);
        font-weight: 500;
    }
    input {
        margin-bottom: 10px;
        &[name="captcha"] {
            float: right;
        }
    }
    .s_btn {
        font-size: Rem(14px);
        font-weight: 500;
        padding: 14px 25px;
    }
    .b_btn {
        float: left;
        width: auto;
        margin: 0px 13px 0 0;
    }
}

.contacts {
    &>.row {
        display: flex;
        align-items: stretch;
        margin-bottom: 30px;
    }
    .item {
        padding: 16px 15px;
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        height: 100%;
        .title {
            color: #7777be;
            font-size: Rem(16px);
            font-weight: 500;
        }
        .contacts_list {
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            padding: 12px 17px;
            margin: 10px -15px 22px;
            color: #646468;
            font-size: 14px;
            font-weight: 500;
            li {
                margin-bottom: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            a {
                text-decoration: underline;
            }
            .tel a {
                text-decoration: none;
            }
            i {
                color: #7d7dc7;
                margin-right: 9px;
                font-size: 20px;
            }
        }
        p {
            margin-bottom: 20px;
        }
        .s_btn {
            margin-left: 0;
        }
        form {
            a.s_btn {
                float: left;
                line-height: 24px;
            }
            input {
                margin-bottom: 10px;
                &[name="captcha"] {
                    float: left;
                    margin-left: 16px;
                }
            }
        }
    }
    .i_wrap {
        border: 2px solid #7d7dc7;
        border-radius: 50%;
        width: 24px;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        i {
            color: #7d7dc7;
            margin-right: 0 !important;
            vertical-align: text-bottom;
            font-size: 17px !important;
        }
    }
    .to_road {
        overflow: hidden;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        margin: 10px -15px 22px;
        p {
            color: #2a2a2a;
            font-size: Rem(14px);
            font-weight: 400;
            line-height: 60px;
            padding-left: 15px;
            margin-bottom: 0;
        }
        a {
            float: right;
            display: inline-block;
            width: auto;
        }
    }
}

.magazine_foto {
    margin-right: -7px;
    a {
        width: 48%;
        float: left;
        position: relative;
        font-size: 0;
        margin-bottom: 11px;
        &:nth-child(even) {
            margin-right: 2%;
        }
        &:nth-child(odd) {
            margin-left: 2%;
        }
        &:first-child {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            img {
                width: 100%;
            }
        }
        &:after {
            transition: all 0.5s;
            opacity: 0;
            content: '';
            position: absolute;
            background-color: rgba(123, 123, 197, .6);
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACU0lEQVRIS8WXjVFUQRCEuyPQDJQIhAjUCMQIxAzIQIxAjUCMQIlALgIxAjEDiGCs75y92nu393ZfFVdMFVVwtzO93fO3WDMWEaeS3kh6LulVHr2VxM8PSVe2+X2xueUREWeSPiRgL+ilpI9LL7AFHBFPJX2VBNNi95JuJF3nB7A/lvSiOnMn6b1tVBiyDXCC/sygOP+VdGEbRjsWEVzgQtK76kvAm+enAWpgbks+sStJZ7ZhMmtZB4A9yYMntlFo1tbAmVMkXoParqXuxcAf6X/lwVvbRz2nAkxlPkt5j1tMI4Ich6RvLTkj4lzSpwTsSu6U6nvPISIAxahgcrtjEVEI3Ng+mWMNMPmhQO5tU9VNGwSuWR/NtRjASPhS0sp2GRItNiOM8aczsNe2SwvuxAO4GbC6UK9OtgBGlCHgowKXgqBaGZVryxZjSBRjhGKraorx92XJZQ6VP3lubxEWxiXHs5U4IuGkQ7o5HqrEQeChDimMkbPIsyV3XVU94InMe+OUmGVylZvy+dvWlomIzT5u9WdEMJ/Lxprt4TXjLCRY48igZzGQn+6grwqxvviQf72dWAxldBLz3PaXuSZOefFhSdTWBZ8+BGinsqUIRKt9Rg3btBFthjpIykU37de44Cz4ztMnVxy7mW01arxSyj4eYt58cyUz2NBq9ROnDgoYF2RTsVyYB8Pge4GrwkHa+pXJV9fTBZBKDYN3gUe1TpUosiHwBwVeAv7gwMPgS6RccraT89VBGFeF2cr5b/4dOihwQ/b/oPbdwYErcCbgaXk6/wPTdUUlcVmHEgAAAABJRU5ErkJggg==);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            top: 0;
            background-position: center center;
            left: 0;
        }
        &:hover:after {
            opacity: 1;
        }
    }
}

[class*='modal'] .big_item {
    background: #FFF;
    padding: 30px 50px;
    position: relative;
    max-width: 1200px;
    .container {
        width: 100%;
    }
}

.close {
    position: absolute;
    top: 16px;
    right: 14px;
}

.sort_block {
    span {
        color: #7b7bc5;
        font-size: Rem(14px);
        font-weight: 500;
    }
    text-align: right;
    [class^="jq"] {
        text-align: left;
    }
    .sortby {
        width: 221px;
    }
}

.navigates {
    .prev,
    .next {
        position: absolute;
        top: 120px;
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: rgba(232, 232, 232, 0.21);
        width: 35px;
        line-height: 33px;
        color: #FFF;
        top: 50%;
        text-align: center;
        font-size: 29px;
    }
    .prev {
        left: -75px;
    }
    .next {
        right: -75px;
    }
}
