.b_btn {
    color: #FFF !important;
    font-size: Rem(16px);
    font-weight: 500;
    text-align: center;
    border-radius: 2px;
    background-color: #7777be;
    line-height: 37px;
    padding: 0 10px;
    border: 1px solid #FFF;
    display: inline-block;
    margin: 10px 5%;
    width: 90%;
    display: block;

    &.reverse {
        color: #7777be !important;
        background-color: #FFF;
        border: 1px solid #7777be;
    }
}

.s_btn {
    border-radius: 3px;
    border: 1px solid #17755c;
    color: #FFF !important;
    font-size: Rem(12px);
    font-weight: 500;
    padding: 7px 13px;
    line-height: 10px;
    background: #17755c;
    margin-left: 18px;
    display: inline-block;
    &.reverse {
        color: #17755c !important;
        background: #FFF;
    }
    &.type2 {
        color: #FFF !important;
        background-color: #7777be;
        border: 1px solid #FFF;
        padding: 7px 20px;
        &.reverse {
            color: #7777be !important;
            background-color: #FFF;
            border: 1px solid #7777be;
        }
    }
}

.b_btn.collapse {
    &:before {
        content: "\f107";
        font-family: FontAwesome;
        float: left;
        position: relative;
        left: -5px;
        font-size: 21px;
        color: #353552;
    }
    &.open {
        &:before {
            transform: rotate(180deg);
        }
    }
}
