footer {
    background-color: #2b2b2b;
    padding: 24px 0 50px;
    .logo {
        display: block;
        margin-top: 20px;
    }
    ul {
        h4 {
            color: #ffffff;
            text-decoration: underline;
            font-size: Rem(18px);
            font-weight: 500;
        }
        li {
            a {
                color: #ffffff;
                font-size: Rem(12px);
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    color: #9797d2;
                    text-decoration: underline;
                }
            }
        }
    }
    .social {
    	margin: 45px 0px;
    	text-align: center;
    	font-size: 0;
        a {
            display: inline-block;
            border-radius: 50%;
            color: #2b2b2b;
            line-height: 36px;
            width: 36px;
            margin-right: 25px;
            &:last-child{
            	margin-right: 0;
            }
            &.fb {
                background-color: #0c469e;
                font-size: Rem(16px);
            }
            &.gplus {
                background-color: #ff3b27;
                font-size: Rem(16px);
            }
            &.vk {
                background-color: #2a90f8;
                font-size: Rem(16px);
            }
        }
    }
}
