.card {
    height: 420px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    margin: 15px auto;
    transition: all .6s ease-out;
    position: relative;
    
    &>div {
        transition: all .6s ease-out;
        transform: rotateY(90deg);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .image {
        height: 210px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        img {
            align-self: center;
            transition: all .5s ease-out;
            &:hover {
                transform: scale(1.05, 1.05);
            }
        }
    }
    .price_line {
        background-image: linear-gradient(to top, #5c5cb9 0%, #9a9ad3 100%);
        color: #FFF;
        font-size: Rem(18px);
        overflow: hidden;
        padding: 0 10px 0 6px;
        span {
            margin-right: 5px;
        }
        span,
        i {
            font-size: Rem(16px);
            font-weight: 400;
            float: left;
            line-height: 28px;
        }
        svg {
            cursor: pointer;
            height: 28px;
            float: right;
            fill: #FFF;
        }
    }
    .description {
        margin: 10px 0;
        padding: 0 5px;
        span {
            color: #262626;
            font-size: Rem(14px);
            font-weight: 700;
        }
        p {
            color: #262626;
            font-size: Rem(16px);
            font-weight: 500;
        }
    }
    .inner0 {
        background: #FFF;
        transform: rotateY(0deg) !important;
    }
    .inner2 {
        background-color: #7b7bc5;
    }
    .inner_wrap {
        border: 1px solid #e8e8e8;
        background-color: #7b7bc5;
        height: 100%;
    }
    .inner1 {
        padding: 6px;
        height: 100%;
        border-radius: 2px;
        background-color: #7b7bc5;
        border: 1px solid #e8e8e8;
        .name {
            color: #ffffff;
            font-size: Rem(18px);
            font-weight: 700;
            margin: 20px 0 17px;
            display: block;
            text-align: center;
            line-height: 13px;
        }
        .description {
            color: #ffffff;
            font-size: Rem(14px);
            font-weight: 500;
            margin: 17px 0 22px;
            display: block;
            text-align: center;
            height: 60px;
        }
        .table_cont {
            height: 160px;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            color: #fdfdfd;
            font-size: Rem(16px);
            font-weight: 500;
            text-align: center;
            tr {
                background-color: #7171b5;
                &:nth-child(even) {
                    background-color: inherit;
                }
            }
            td {
                height: 40px;
                vertical-align: middle;
                &:nth-child(1) {}
                &:nth-child(2) {}
                &:nth-child(3) {}
            }
            input {
                width: 32px;
            }
        }
        .price {
            text-align: center;
            color: #fdfdfd;
            font-size: Rem(16px);
            font-weight: 400;
            margin-bottom: 17px;
            span {
                font-size: Rem(16px);
                font-weight: 500;
                margin: 0 10px 0 5px;
            }
        }
        .confim_controls {
            text-align: center;
            a {
                display: inline-block;
                color: #FFF;
                border: 1px solid #FFF;
                border-radius: 50%;
                line-height: 29px;
                width: 29px;
                i {
                    font-size: Rem(16px);
                }
                &:first-child {
                    margin-right: 16px;
                }
                &:hover {
                    color: #7b7bc5;
                    border: 1px solid #7b7bc5;
                    background: #FFF;
                }
            }
        }
    }
    .complete {
        text-align: center;
        svg {
            width: 63px;
            display: block;
            margin-left: auto;
            fill: #FFF;
            margin-top: 120px;
            margin-bottom: 24px;
            margin-right: auto;
        }
        span {
            color: #fff;
            font-size: Rem(24px);
            margin-bottom: 63px;
            display: block;
            font-weight: 400;
        }
    }
    .spinEdit{
        input {
            color: #FFF;
            background: inherit;
        }
    }
}

.inner1 {
    z-index: 10 !important;
}

.inner2 {
    z-index: 20 !important;
}

.f_step {
    .inner1 {
        transform: rotateY(0deg);
    }
}

.s_step {
    .inner2 {
        transform: rotateY(0deg);
    }
}

.card_mini_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card_mini {
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    width: 230px;
    height: auto;
    &>div {
        transform: none !important;
        position: static !important;
    }
    .image {
        margin: 10px;
        height: 108px;
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        &+span {
            color: #327f67;
            font-size: Rem(12px);
            font-weight: 400;
            margin-left: 10px;
        }
    }
    .description {
        height: 50px;
        color: #515151;
        font-size: Rem(14px);
        line-height: 17px;
        font-weight: 500;
        padding: 10px;
        margin-bottom: 15px;
    }
    .s_btn {
        margin-left: 10px;
    }
    .price_line {
        margin-bottom: 10px;
        margin-top: 22px;
        span {
            font-size: Rem(18px);
            font-weight: 400;
        }
        input {
            border-radius: 2px;
            border: 1px solid #e8e8e8;
            background-color: #fff;
            width: 30px;
            text-align: center;
            padding: 0 3px;
            color: #000;
            font-size: Rem(12px);
            margin: 5px 10px 4px 0;
            height: 20px;
            float: right;
            line-height: 8px;
        }
    }
}
