.topbar {
	box-shadow: -4px -3px 51px rgba(0, 0, 0, 0.35);
	.logo {
		img {
			margin-top: 4px;
		}
	}
	a.tel {
		color: #17755c;
		font-size: Rem(16px);
		font-weight: 700;
		line-height: 42px;
	}
	.menu {
		text-align: right;
	}
	.count {
		background-color: #1b785f;
		display: inline-block;
		border-radius: 50%;
		color: #FFF;
		padding: 0 7px;
		margin-right: 3px;
	}
}

i.pen {
	fill: $accent_color;
	display: inline-block;
	svg {
		margin-top: -13px;
		margin-left: 3px;
	}
}

i.phone {
	fill: $accent_color;
	svg {
		margin-top: -5px;
		margin-left: 7px;
	}
}

i.user {
	fill: $accent_color;
	svg {
		margin-top: -6px;
		margin-left: 3px;
	}
}
i.cart {
	fill: $accent_color;
	svg {
		margin-top: -6px;
		margin-left: 3px;
	}
}

.slicknav_menu {
    background: $accent_color;
    .slicknav_btn {
    	background: #38387b;
    }
}

