/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1400px) {
    .navigates {
        position: relative;
        .prev,
        .next {
            position: static;
            background-color: rgba(31, 31, 31, 0.21);
            color: #252222;
            display: block;
            float: left;
        }
        .next {
            float: right;
        }
    }
    .user_cart .actual_cart table .price {
        font-size: 16px;
        width: 61px;
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .menu_bar .menu a {
        padding: 0 10px;
    }
    .b_btn {
        font-size: Rem(14px);
    }
    footer .social a {
        margin-right: 10px;
    }
    .b_btn {
        font-size: Rem(13px);
        padding: 0 5px;
    }
    .user_cart .delivery li label span {
        line-height: 20px;
        display: block;
        font-size: Rem(13px);
        height: 65px;
    }
    aside .filtr .name_filtr {
    width: 40px;}
    .topbar {
        .menu li a,  {
    padding: 0 5px;}
    }
    .big_item .menu a {
    font-size: Rem(13px);
    padding: 0 3px;
}
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .topbar a.tel {
        font-size: Rem(14px);
    }
    footer .social a {
        margin-right: 30px;
    }
    .contacts>.row {
        display: block;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    i.phone {
        display: none;
    }
    .logo {
        display: block;
        text-align: center;
    }
    .topbar {
        a.tel {
            line-height: 15px;
        }
        .menu {
            text-align: center;
        }
    }
    #slider {
        .item {
            text-align: center;
            .title {
                padding-top: 20px;
                line-height: 48px;
                display: block;
                float: none;
            }
            .sub_title {
                padding-bottom: 30px;
                padding-top: 15px;
                display: block;
                float: none;
            }
            img {
                margin: 0 auto;
            }
        }
        .owl-dots {
            bottom: 30px;
        }
    }
    .category_grid .grid_container .item {
        width: 50%;
    }
    .menu_bar .menu {
        display: none;
    }
    .small_grid .flex {
        flex-wrap: wrap;
        justify-content: center;
        a {
            margin: 10px 20px;
        }
    }
    footer {
        padding-bottom: 0;
        .logo {
            display: block;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
    .sort_block {
        .sortby {
            width: auto;
        }
    }
    .card_mini_wrapper {
        flex-wrap: wrap;
    }
    .actual_cart {
        th {
            display: none !important;
        }
        td,
        tr {
            display: block;
            width: 100%;
            text-align: center;
            max-width: 100% !important;
        }
        td {
            border: none !important;
            span {
                width: 100% !important;
                &.cast {
                    font-size: 14px !important;
                    &:after {
                        content: ' шт';
                    }
                }
            }
        }
        tr {
            border-bottom: 1px solid #e8e8e8;
            &:last-child {
                border-bottom: none;
            }
        }
        img {
            margin: 0 auto;
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    footer ul h4 {
        font-size: Rem(14px);
        margin-bottom: 5px;
    }
    .menu li {
        margin: 0;
    }
    .good_item {
        width: 100% !important;
    }
    .card_mini {
        width: auto;
        .description {
            height: auto;
        }
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .slicknav_menu {
        display: none;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
