html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: helveticamedium;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
  font-size: $main_fontsize;
  background-color: #fafafa;
  overflow-x:hidden;
  height: 100%;
}


img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tar {
    text-align: right;
}

a {
    transition: all 0.45s ease-in-out;
    color: #7979c5;
    font-size: Rem(16px);
    font-weight: 500;
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }

}





i svg {
    vertical-align: middle;
}
.page_title {
    text-align: center;
    color: #616161;
    font-size: Rem(18px);
    font-weight: 500;
    margin-bottom: 30px;
}
h2 {
    color: #ffffff;
    font-size: Rem(18px);
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin: 0 0 20px;
}

h3 {
    text-align: center;
    width: 100%;
    color: #616161;
    font-size: Rem(18px);
    font-weight: 500;
    padding: 22px 0 15px;
    margin: 0;
}


h4{
    color: #7777be;
font-size: Rem(16px);
font-weight: 500;
text-align: left;
}

#tabs>div{
    display: none;
    &.open{
        display: block;
    }
}

.collapsed {
    display: block;
    height: 0;
    opacity: 0;
}

.popup_item {
    display: none;
}
#lightcase-content .popup_item {
    display: block;
}
// .arcticmodal-container .main_img {
//             border: 1px solid #dddddd;
//             display: block;
//             overflow: hidden;
//             img {
//                 display: block;
//                 width: 100%;
//                 transition: all .5s ease-out;
//                 &:hover {
//                     transform: scale(1.05, 1.05);
//                 }
//             }
// }
// .main_img a {
//     position: relative;
//     .lupa {
//         position: absolute;
//         right: 14px;
//         top: 8px;
//         svg {
//             width: 21px;
//             height: 21px;
//         }
//         path {
//             fill: #7777be;
//         }
//     }
// }
