#slider {
    .item {
        padding: 25px 0 35px;
        img {
            opacity: 0;
            transition: all 2s;
            display: block;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 400, 0, 0, 1);
            
        }
        .title {
            padding-top: 80px;
            color: #fff;
            font-size: Rem(60px);
            line-height: 50px;
            font-weight: 500;
            float: right;
            position: relative;
            //right: -100%;
            opacity: 0;
            transition: all 1.6s;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 400, 0, 0, 1);
        }
        .sub_title {
            padding-bottom: 70px;
            color: #fff;
            font-size: Rem(30px);
            font-weight: 400;
            float: right;
            position: relative;
            //right: -100%;
            opacity: 0;
            transition: all 1.6s;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 400, 0, 0, 1);
        }
    }

    .active {
        img {
            opacity: 1;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1);
        }
        .title,
        .sub_title {
            opacity: 1;
            //right: 0;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1);
        }

    }
}

.owl-dots {
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.owl-theme .owl-dots .owl-dot span {
    background: none;
    border: 1px solid #FFF;
    width: 12px;
    height: 12px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    border: 1px solid $accent_color;
    background: $accent_color;
}

// .owl-item .item > div {
//     margin-left: 0;
//     margin-right: 0;
// }
