.user_cart {
    &>div {
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        margin-bottom: 12px;
    }
    h1 {
        color: #616161;
        text-align: center;
        font-size: Rem(18px);
        font-weight: 500;
        margin-bottom: 30px;
    }
    div.title {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 18px;
    }
    span.title {
        color: #7777be;
        font-size: Rem(16px);
        font-weight: 500;
    }
    .user_info {
        padding: 12px 23px 30px;
        label {
            margin-left: 15px;
        }
        table {
            margin-top: 20px;
        }
        tr {
            height: 40px;
            td {
                &:first-child {
                    width: 82px;
                }
                input,
                input:disabled {
                    border-radius: 2px;
                    border: 1px solid #e8e8e8;
                    padding: 0 5px;
                    height: 25px;
                    overflow-x: auto;
                    background-color: #fff;
                    width: 100%;
                }
            }
        }
        a.edit {
            float: right;
        }
    }
    .cart_history {
        .s_btn {
            margin-bottom: 16px;
        }
        .owl-carousel {
            padding: 0 74px;
            .item {
                margin: 0 auto;
            }
        }
        .owl-nav.disabled {
            display: block;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 120px;
            background-color: rgba(232, 232, 232, 0);
            width: 35px;
            line-height: 35px;
            border: 1px solid #e8e8e8;
            color: #e8e8e8;
        }
        .owl-prev {
            left: 20px;
        }
        .owl-next {
            right: 20px;
        }
    }
    .actual_cart {
        table {
            width: 100%;
            td,
            th {
                padding: 10px 12px;
                vertical-align: middle;
                &:first-child{
                    max-width: 127px;
                }
            }
            th {
                text-align: left;
                color: #7777be;
                font-size: 12px;
                font-weight: 500;
                padding-left: 0;
                &:first-child{
                    padding-left: 12px;
                }
            }
            td {
                border: 1px solid #e8e8e8;
                p {
                    color: #464646;
                    font-size: Rem(14px);
                    font-weight: 500;
                    line-height: 24px;
                    &+p,
                    span {
                        text-transform: uppercase;
                        font-size: Rem(12px);
                        font-weight: 400;
                    }
                    span {
                        color: #7b7bc5;
                    }
                }
                .s_btn {
                    margin-left: 0;
                    display: block;
                    text-align: center;
                }
            }
            .price{
                color: #404040;
                font-size: 24px;
                font-weight: 500;
                i {
                    color: #7b7bc5;
                }
            }
        }
    }
    .delivery {
        li {
            font-size: 0;
            display: inline-block;
            text-align: center;
            width: 33%;
            margin: 0;
            vertical-align: top;
            label {
                display: block;
                color: #616161;
                font-size: Rem(14px);
                font-weight: 500;
                &:before {
                    margin: 0 auto;
                    display: block;
                }
                img {
                    display: block;
                    margin: 12px auto 20px;
                }
            }
        }
    }
    #tabs {
        &>div {
            padding: 15px 20px 20px;
            p {
                color: #2d2d2d;
                font-size: Rem(12px);
                font-weight: 500;
            }
        }
    }
    .total_block {
        border: none;
        //width: 300px;
        background: inherit;
        text-align: right;
        float: right;
        margin-bottom: 63px;
        p {
            color: #404040;
            font-size: Rem(18px);
            font-weight: 400;
            margin-bottom: 10px;
            span {
                margin-left: 12px;
                color: #404040;
                font-size: Rem(36px);
                font-weight: 500;
                text-transform: uppercase;
            }
            i {
                color: #7b7bc5;
                font-size: Rem(34px);
                margin-left: 7px;
            }
        }
        a {
            display: inline-block;
            margin: 0;
            width: auto;
            &:last-child {
                margin-left: 15px;
            }
        }

    }
}

.popup_item {
    .total_block {
        
        text-align: center;
        p {
            text-align: center;
            font-size: Rem(24px);
            color: #121212;
            font-weight: 400;
            margin-bottom: 20px;
            a {
                font-size: Rem(24px);
                color: #7777be;
                font-weight: 500;
                text-decoration: underline;
            }
            &+p {
                color: #404040;
                font-size: Rem(18px);
                font-weight: 400;
                span {
                    color: #404040;
                    font-size: Rem(36px);
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 12px;
                }
                i {
                    color: #7b7bc5;
                    font-size: Rem(34px);
                    margin-left: 7px;
                }
            }
        }
    }
    .b_btn {
            width: auto;
            margin: 0 auto;
            display: inline-block;
        }
}
