/* variables */
$first_color: #222;
$accent_color: #7d7dc7;
$main_fontsize: 14px;
//Верхнее меню




//



//Footer


/*  mixins  */

@function Rem($size) {
  $remSize: $size / $main_fontsize;
  @return #{$remSize}rem;
}


/*  additions  */
