<span style='color: #000'>4 frames</span>	<span style='color: #900'>2,560 KB</span>	<span style='color: #090'>76.37 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />